/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/

body {
  font-size: 16px;
}

a {
  color: #9E358F;
  text-decoration: underline ;
}

a:hover, a:focus {
  color: #65225b;
  text-decoration: underline;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1 {
  font-family: "Raleway",Helvetica,Arial,sans-serif;
}

/* Disable the extra top-margin of the first paragraph in a blockquote, so that
 * the blockquote has equal padding at the top and at the bottom. */
blockquote > p:first-child {
  margin-top: 0;
}

/* The 0.8rem defined by abridge.css results in text quite a bit smaller than
 * the main body text. 1rem makes more sense. */
code {
  font-size: 1rem;
}
