/* raleway-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/raleway-v28-latin-700.woff2") format("woff2");
}
/* raleway-900 - latin */
@font-face {
  font-display: swap;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/raleway-v28-latin-900.woff2") format("woff2");
}
