/* ubuntu-mono-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Ubuntu Mono";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ubuntu-mono-v15-latin-regular.woff2") format("woff2");
}
